<div class="container ">
    <table class="table">   
    <thead>   
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Password</th>
          <th scope="col">Email</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      
    <tbody> 
    <!-- <tr *ngFor="let datas of res"> 
    <td>{{datas.id}}</td>
    <td>{{datas.name}}</td>  
    <td>{{datas.age}}</td> 
    <td>{{datas.job}}</td> -->
    <!-- <td><button type="button" class="btn btn-primary"  (click)="editUser(datas.id)" >Edit</button></td> -->
    <!-- <td><button type="button" class="btn btn-primary"(click)="delUser(datas.id)" >Delete</button></td> -->
    </tr>
    <tbody> 
    </table>
    </div>